@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #1D2B53;
    --primary-color: #E8F9FD;
    --btn-color: #FF004D;
    --btn-hover: #f3316b;
    --b-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
    padding-bottom: 2rem;
}

.btn-play {
    border: 0rem;
    border-radius: 1rem;
    background-color: var(--btn-color);
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 1rem 0.5rem;
}

.btn-play:hover {
    background: var(--btn-hover);
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}